name: Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: registry.linode.com
  IMAGE_NAME: julio-alv/web # <-- change this to your Linode registry/repo path

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Linode Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.LINODE_USERNAME }}
          password: ${{ secrets.LINODE_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Logout from Linode Registry
        run: docker logout ${{ env.REGISTRY }}
        